* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
  color: #fff;
}

body{
	background: #bbb;
  font-family: 'Noto Sans Display', sans-serif;
}
						/* Encabezado */

#encabezado-de-la-pagina-principal{
    background-color: #000;
    height: 60px; /* Ajusta la altura según tus preferencias */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Oculta cualquier contenido que exceda la altura del encabezado */
}

#listadoDeObjetos{
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.Logo-CodevaMP{
	max-width: 60px;
	max-height: 60px;
	min-width: 60px;
	min-height: 60px;
	height: auto;
	width: auto;
}

.Logo-CodevaMP img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}



						/* barra de busqueda */

#barra-de-busqueda {
	margin-right: 20px;
}

.barra-de-busqueda button {
    border: none;
    background: none;
    color: #8b8ba7;
}

/* estilo del contenedor de la barra de busqueda */
.barra-de-busqueda {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 100%;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: 100%; /* Cambiado a 100% para ser responsivo */
    max-width: 300px; /* Agregado un ancho máximo para evitar que la barra sea demasiado ancha en pantallas grandes */
    margin-right: 20px; /* Añadido margen derecho para separar la barra de búsqueda del logo en pantallas más grandes */
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
}


/* esilo del input */
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

/* animacion del borde del input */
.barra-de-busqueda:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

/* redondeo de las esquinas del input */
.barra-de-busqueda:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

/* animacion del borde del input */
.barra-de-busqueda:focus-within:before {
    transform: scale(1);
}

/* ocultar X */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* aparicion de la X */
input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}

/* tamaño de lupa */
.barra-de-busqueda svg {
    width: 17px;
    margin-top: 3px;
}

						/* Titulo Principal */

#contenido-del-header {
  display: flex;
  align-items: center;
  gap: 20px; /* Añade un margen entre los elementos del encabezado */
}

#titulo-principal {
  margin-right: 20px;
}

#menu-desplegable {
    margin-left: auto; /* Empuja el menú hacia la derecha */
}


						/* responsividad */

/* Estilos para pantallas más anchas (mayor a 1024px) */
@media screen and (min-width: 1025px) {
    #menu-desplegable {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    #menu {
        display: flex;
        gap: 20px;
    }

    #menu a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color: #fff;
    }

    #menu a:hover {
        background-color: #333;
    }

    #checkbox {
        display: none; /* Oculta el checkbox en pantallas más anchas */
    }

    #menu {
        display: flex !important; /* Asegura que el menú esté visible */
    }
}

/* Estilos para pantallas más estrechas (hasta 1024px) */
@media screen and (max-width:1024px){

	#checkbox {
	  display: none;
	}

	.toggle {
	  position: relative;
	  width: 40px;
	  height: 40px;
	  cursor: pointer;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  gap: 10px;
	  transition-duration: .3s;
	}

	.bars {
	  width: 100%;
	  height: 4px;
	  background-color: rgb(253, 255, 243);
	  border-radius: 5px;
	  transition-duration: .3s;
	}

	/* #checkbox:checked + .toggle .bars {
	  margin-left: 13px;
	} */

	#checkbox:checked + .toggle #bar2 {
	  transform: translateY(14px) rotate(60deg);
	  margin-left: 0;
	  transform-origin: right;
	  transition-duration: .3s;
	  z-index: 2;
	}

	#checkbox:checked + .toggle #bar1 {
	  transform: translateY(28px) rotate(-60deg);
	  transition-duration: .3s;
	  transform-origin: left;
	  z-index: 1;
	}

	#checkbox:checked + .toggle {
	  transform: rotate(-90deg);
	}
	/* #checkbox:checked + .toggle #bar3 {
	  transform: rotate(90deg);
	  transition-duration: .3s;
	  transform-origin:right;
	} */

	#menu {
	  display: none;
	  position: absolute;
	  top: 60px; /* Asegura que el menú esté al menos a la altura del encabezado */
	  left: 0;
	  background-color: #f9f9f9;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	  width: 100%; /* Ocupa el ancho completo del contenedor */
	  transition: top 0.3s; /* Agrega una transición suave para la animación */
	}

	.menu {
	  display: flex;
	  flex-direction: column;
	}

	.menu a {
	  display: block;
	  padding: 10px;
	  text-decoration: none;
	  color: #333;
	}

	.menu a:hover {
	  background-color: #ddd;
	}

	#checkbox:checked + .toggle #menu {
	  top: 60px; /* Ajusta esta posición según tus necesidades */
	}

	#contenido-del-header {
    gap: 10px; /* Reduzca el margen entre los elementos para pantallas más pequeñas */
	}

	#menu-desplegable {
	  margin-right: 10px; /* Añade un margen a la derecha del menú en pantallas más pequeñas */
	}

}
